@media (max-height: 700px) {
  .loading {
    min-height: 200px;
  }
}

@media (min-height: 701px) {
  .loading {
    min-height: 400px;
  }
}

@media (min-height: 850px) {
  .search-bar {
    margin-top: 50px;
  }
}

@media (min-width: 800px) and (min-height: 850px) {
  .header {
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  .book-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .book-card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 410px) {
  .slika {
    height: 350px;
    width: 90%;
  }

  html {
    font-size: 14px;
  }
}