@media (max-height: 649px){
    .loading {
      min-height: 300px;
    }
  }

@media (min-height: 650px) {
  .loading {
    min-height: 500px;
  }
}

@media (min-height: 800px){
  .search-bar{
    margin-top: 50px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .header {
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  .book-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .book-card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .slika{
    height: 350px;
    width: 90%;
  }
}